@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #25252b;
}

@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.box{
    position: relative;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    filter: drop-shadow(0 15px 50px #000);
    animation: rotating 4s linear infinite;
    transition: 0.5s;
    background: repeating-conic-gradient(from var(--a), #FFE837 0%, #FFE837 5%, transparent 5%, transparent 40%, #FFE837 50%);
}

.box:hover{
    width: 450px;
    height: 500px;
}

@keyframes rotating
{
    0% {
        --a:0deg;
    }
    100% {
        --a:360deg;
    }
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: drop-shadow(0 15px 50px #000);
    animation: rotating 4s linear infinite;
    animation-delay: -1s;
    background: repeating-conic-gradient(from var(--a), #F900BF 0%, #F900BF 5%, transparent 5%, transparent 40%, #F900BF 50%);
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
}

.login {
    position: absolute;
    inset: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    color: #fff;
    overflow: hidden;
}

.box:hover .login{
    inset: 40px;
}

.loginBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    width: 70%;
    transition: 0.5s;
    transform: translateY(124px);
}

.box:hover .loginBx {
    transform: translateY(0px);}

input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    border-radius: 30px;
}

input::placeholder{
    color: #999;
}

input[type='submit'] {
    border: none;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
    background-color: #FFE837;
}

input[type='submit']:hover {
    box-shadow: 0 0 10px #FFE837, 0 0 60px #FFE837;
}

.group {
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.group a {
    text-decoration: none;
    color: #fff;
}

.group a:nth-child(2){
    color: #F900BF;
    font-weight: 600;
}